:root{
  --color-hover: #404bbf;
  --color-of-txt-one: #434455;
  --color-of-background-one: #ffffff;
  --color-of-txt-two: #2e2f42;
  --color-of-background-two:#f4f4fd;
  --color-of-background-thre: #4d5ae5;
}
/* Body */
body {
  color: var( --color-of-txt-one);
  font-family: "Roboto", sans-serif;
  background-color: var(--color-of-background-one);
}
button {
  cursor: pointer;
  background-color: var(--color-of-background-thre);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-one);
}

.link {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  color: var(--color-of-txt-one);
}
.link:hover,
.link:focus {
  color: var(--color-hover);
}
button:hover,
button:focus {
  background-color: var(--color-hover);
  color: var(--color-of-background-one);
}

/* Лого */
.text-logo,
.text-logo:hover,
.text-logo:focus {
  color: var(--color-of-background-thre);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.51px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.text-logo-studio,
.text-logo-studio:hover,
.text-logo-studio:focus {
  color: var(--color-of-txt-two);
  font-family: "Raleway", sans-serif;
}
.text-logo-footer {
  color: var(--color-of-background-two);
}
/* Навігація по сайту */
.navigationpanel {
  text-decoration: none;
  color: var(--color-of-txt-two);
  font-weight: 500;
  font-size: 16px;
}
.styless-address {
  font-style: normal;
}
/* Контактні дані */
.contact-date {
  color: var( --color-of-txt-one);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Section 1 */
.button-home{
  letter-spacing: 0.04em;
  color: var(--color-of-background-one);
}
.text-intro {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-of-background-one);
}
.intro {
  background-color: var(--color-of-txt-two);
}
.h1-portfolio {
  color: var( --color-of-txt-two);
  font-size: 56px;
}
.h1-portfolio .text-logo,
.h1-portfolio .text-logo-studio {
  font-size: 56px;
  text-transform: none;
}
/* Section 2 */
.company-codexs-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-two);
}
.strategi-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-two);
}
.strategi-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-one);
}
/* Section 3 */
.section-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-of-txt-two);
}
/* Section 4 */
.section-my-tim {
  background-color: var(--color-of-background-two);
}
.section-my-tim-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-of-txt-two);
}
.section-my-tim-h3 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-of-txt-two);
}
.li-first{
  background-color: var(--color-of-background-one);
}
/* Foter */
.footer-index {
  background-color: var(--color-of-txt-two);
}
.p-footer-intro {
  line-height: 1.5;
  color: var(--color-of-background-two);
  letter-spacing: 0.02em;
}
/* Portfolio-main */
.boton-tail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-of-background-thre);
  background-color: var(--color-of-background-two);
}
